<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="home">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Hanoi Prime</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="home"><i
                                class="fas fa-tachometer-alt"></i><span>Thống Kê</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="profile"><i class="fas fa-user"></i><span>Quản Lý Nhân Viên
                                </span></a></li>
                    <li class="nav-item"><a class="nav-link" href="table"><i class="fas fa-flag"></i><span>Quản Lý Phòng
                                </span></a></li>
                    <li class="nav-item"><a class="nav-link" href="customer"><i class="fas fa-bell"></i><span>Quản Lý Người Dùng
                                </span></a></li>
                    <li class="nav-item"><a class="nav-link" href="login"><i class="fas fa-sign-out-alt"></i><span>Đăng
                                xuất</span></a></li>
                </ul>

            </div>
        </nav>


                    <div class="d-flex flex-column" id="content-wrapper">
                        <div id="content">


                            <div class="container-fluid">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Thống kê chi tiết</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-auto text-nowrap">
                                                <div id="dataTable_length" aria-controls="dataTable">
                                                    <label class="form-label">
                                                        <select class="d-inline-block form-select form-select-sm">
                                                            <option value="" selected="">Cơ sở</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-md-auto text-nowrap">
                                                <div id="dataTable_length" aria-controls="dataTable">
                                                    <label class="form-label">
                                                        <select class="d-inline-block form-select form-select-sm">
                                                            <option value="" selected="">Chuyên nghành</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-md-auto text-nowrap">
                                                <div id="dataTable_length" aria-controls="dataTable">
                                                    <label class="form-label">
                                                        <select class="d-inline-block form-select form-select-sm">
                                                            <option value="" selected="">Khóa</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-md-auto text-nowrap">
                                                <div id="dataTable_length" aria-controls="dataTable">
                                                    <label class="form-label">
                                                        <select class="d-inline-block form-select form-select-sm">
                                                            <option value="" selected="">Ngày</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4 mb-2">
                                                <form
                                                    class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                                                    <div class="input-group"><input
                                                            class="bg-light form-control border-0 small" type="text"
                                                            placeholder="Search for ..."><button
                                                            class="btn btn-primary py-0" type="button"><i
                                                                class="fas fa-search"></i></button></div>
                                                </form>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row" >
                                            <div class="col-md-4 mb-2">
                                                <p class="fw-bold h5">Số Nhân Viên: {{employee}} </p>
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                <p class="fw-bold h5">Số Người Dùng: {{totalUserCustomer}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                        aria-describedby="dataTable_info">
                                        <table class="table table-hover my-0" id="dataTable">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên Người Đặt</th>
                                                    <th>Ngày Đặt</th>
                                                    <th>Phone</th>
                                                    <th>Số Phòng</th>
                                                    <th>Giá Tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Nguyễn Văn a</td>
                                                    <td>2021-11-04</td>
                                                    <td>0987654321</td>
                                                    <td>501</td>
                                                    <td>500000</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Nguyễn Văn a</td>
                                                    <td>2021-11-04</td>
                                                    <td>0987654321</td>
                                                    <td>501</td>
                                                    <td>500000</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Nguyễn Văn a</td>
                                                    <td>2021-11-04</td>
                                                    <td>0987654321</td>
                                                    <td>501</td>
                                                    <td>500000</td>
                                                </tr>
                                                {{!-- {{#each users}}
                                                <tr>
                                                    <td><a href="/users/{{this.email}}">{{this.email}}</a></td>
                                                    <td>
                                                        <img class="rounded-circle me-2" width="30" height="30"
                                                            src="{{this.images.[0]}}">
                                                        {{this.name}}
                                                    </td>
                                                    <td>{{this.hobbies}}</td>
                                                    <td>{{this.birthDay}}</td>
                                                    <td>{{this.gender}}</td>
                                                    <td>{{this.facilities}}</td>
                                                    <td>{{this.specialized}}</td>
                                                    <td>{{this.course}}</td>
                                                    <td>0</td>

                                                    {{#if (eq this.isActive "Kích hoạt")}}
                                                    <td class="text-success">{{this.isActive}}</td>
                                                    {{else}}
                                                    <td class="text-danger">{{this.isActive}}</td>
                                                    {{/if}}

                                                </tr>
                                                {{/each }} --}}
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <footer class="bg-white sticky-footer">
                            <div class="container my-auto">
                                <div class="text-center my-auto copyright"><span>Hanoi Prime Center</span></div>
                            </div>
                        </footer>
                    </div>

                </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i
                        class="fas fa-angle-up"></i></a>
            </div>

</body>
