<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="home">
                    <div class="sidebar-brand-icon rotate-n-15 "><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Hanoi Prime</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="home"><i
                                class="fas fa-tachometer-alt"></i><span>Thống Kê</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="profile"><i class="fas fa-user"></i><span>Quản Lý
                                Nhân Viên
                            </span></a></li>
                    <li class="nav-item"><a class="nav-link" href="table"><i class="fas fa-flag"></i><span>Quản Lý Phòng
                            </span></a></li>
                    <li class="nav-item"><a class="nav-link" href="customer"><i class="fas fa-bell"></i><span>Quản Lý
                                Người Dùng
                            </span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i><span>Đăng
                                xuất</span></a></li>
                </ul>

            </div>
        </nav>


        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">


                <div class="container-fluid">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Thống kê chi tiết</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-2">
                                    <p id="tongnhanvien">Tổng số nhân viên là: {{employee}} </p>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <p id="tongnguoidung"> Tổng số người dùng là: {{totalUserCustomer}}</p>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <p class="text-white" id="tongsophong"> {{totalRoom}}</p>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <p class="text-white" id="tongphongtrong"> {{totalRoom0}}</p>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <p class="text-white" id="tongphongdattruoc"> {{totalRoom1}}</p>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <p class="text-white" id="tongphongdangsudung"> {{totalRoom2}}</p>
                                </div>

                            </div>
                            <div class="container">

                                <canvas id="myChart" height="50" width="200"></canvas>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table table-hover my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên Người Đặt</th>
                                            <th>Ngày Bắt Đầu </th>
                                            <th>Ngày Kết Thúc</th>
                                            <th>Số Tiền Thanh Toán</th>
                                            <th>Số Điện thoại</th>
                                            <th>Trạng Thái </th>
                                            <th>Ngày Tạo Đơn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <form id="form">
                                            <input id="ipSelect" name="status" type="hidden"></input>
                                            <input id="ipDate" name="date" type="hidden"></input>
                                            <input id="ipMonth" name="month" type="hidden"></input>
                                            <input id="ipYears" name="years" type="hidden"></input>
                                        </form>
                                        <div class="row">
                                            <div class="col-md-auto text-nowrap">
                                                <div id="dataTable_length" aria-controls="dataTable">
                                                    <label class="form-label">
                                                        <select id="selectStatus"
                                                            class="d-inline-block form-select form-select-sm">
                                                            <option value="" selected="">Trạng Thái Đơn</option>
                                                            <option value="0">Chưa xác nhận</option>
                                                            <option value="1">Đã Xác Nhận </option>
                                                            <option value="2">Đang Chờ Thanh Toán </option>
                                                            <option value="3">Đã Thanh Toán</option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>



                                        </div>
                                        {{#each orderRoomBookedDB }}
                                        <tr>
                                            <td>{{@index}}</td>

                                            <td>{{this.fullName}}</td>
                                            <td>{{#newDate this.timeBookingStart}}{{/newDate}}</td>
                                            <td>{{#newDate this.timeBookingEnd}}{{/newDate}}</td>
                                            <td>{{this.totalRoomRate}}</td>
                                            <td>{{this.phone}}</td>
                                            <td>{{this.bookingStatus}}</td>
                                            <td>{{#newDate this.createdAt}}{{/newDate}}</td>



                                        </tr>
                                        {{/each }}

                                    </tbody>

                                </table>

                                <div style="display: flex; flex-direction: row;">
                                    <p class="font-weight-bold abc" id="tongdonhoanthanh">Tổng số đơn: {{totalBooked}}
                                    </p>

                                    <p class="abc" id="tongdonchuaxacnhan">Tổng số đơn chưa xác nhận: {{totalBooked0}}
                                    </p>
                                    <p class="abc" id="tongdondaxacnhan">Tổng số đơn đã xác nhận: {{totalBooked1}}</p>
                                    <p class="abc" id="tongdondangchothanhtoan">Tổng số đơn chờ thanh toán:
                                        {{totalBooked2}}</p>
                                    <p class="font-weight-bold abc" id="tongdonhoanthanh">Tổng số đơn đã thanh toán:
                                        {{totalBooked3}}</p>
                                </div>
                                <hr class="sidebar-divider my-0">


                                <div for="mb-3">
                                    <label class="form-label">Chọn Ngày Xem Doanh Thu:</label>
                                    <input id="date" type="date" placeholder="dd-mm-yyyy" value="" min="1997-01-01"
                                        max="2030-12-31">
                                </div>
                                <div class="col-md-auto text-nowrap">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">Doanh Thu Theo Tháng:
                                            <select id="selectMonth" class="d-inline-block form-select form-select-sm">
                                                <option value="" selected="">Tháng</option>
                                                <option value="2021-01">Tháng 1</option>
                                                <option value="2021-02">Tháng 2</option>
                                                <option value="2021-03">Tháng 3</option>
                                                <option value="2021-04">Tháng 4</option>
                                                <option value="2021-05">Tháng 5</option>
                                                <option value="2021-06">Tháng 6</option>
                                                <option value="2021-07">Tháng 7</option>
                                                <option value="2021-08">Tháng 8</option>
                                                <option value="2021-09">Tháng 9</option>
                                                <option value="2021-10">Tháng 10</option>
                                                <option value="2021-11">Tháng 11</option>
                                                <option value="2021-12">Tháng 12</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-auto text-nowrap">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">Doanh Thu Theo Năm:
                                            <select id="selectYears" class="d-inline-block form-select form-select-sm">
                                                <option value="" selected="">Năm</option>
                                                <option value="2021">Năm 2021</option>
                                                <option value="2022">Năm 2022</option>
                                                <option value="2023">Năm 2023</option>
                                                <option value="2024">Năm 2024</option>
                                                <option value="2025">Năm 2025</option>

                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <p class="p-3 mb-2 bg-info text-white" id="tongnguoidung"> Tổng doanh thu {{year}}
                                    {{month}} {{date}}: {{_number}} VNĐ</p>
                                <p class="p-3 mb-2 bg-warning text-dark"> Tổng doanh thu: {{_number2}} VNĐ</p>
                            </div>


                        </div>
                    </div>
                </div>
                <footer class="bg-white sticky-footer">
                    <div class="container my-auto">
                        <div class="text-center my-auto copyright"><span>Hanoi Prime Center</span></div>
                    </div>
                </footer>
            </div>

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script>
        const ctx = document.getElementById('myChart');
        var element = document.getElementById('tongnhanvien');
        var element2 = document.getElementById('tongnguoidung');
        var element3 = document.getElementById('tongdonhoanthanh');
        var element4 = document.getElementById('tongdonchuaxacnhan');
        var element5 = document.getElementById('tongdondaxacnhan');
        var element9 = document.getElementById('tongsophong');
        var element10 = document.getElementById('tongphongtrong');
        var element11 = document.getElementById('tongphongdattruoc');
        var element12 = document.getElementById('tongphongdangsudung');
        var tongphong = element9.innerHTML
        var phongtrong = element10.innerHTML
        var phongdattruoc = element11.innerHTML
        var phongdangsudung = element12.innerHTML
        var donhoanthanh = element3.innerHTML
        var donchuaxacnhan = element4.innerHTML
        var dondaxacnhan = element5.innerHTML
        console.log(element);
        console.log(element.innerHTML)
        var nhanvien = element.innerHTML
        console.log(nhanvien);
        var nguoidung = element2.innerHTML
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Tổng số phòng', 'Phòng Trống', 'Phòng Đã Đặt Trước', 'Phòng Đang Sử Dụng'],
                datasets: [{

                    label: 'Biểu đồ trạng thái phòng ',
                    data: [tongphong, phongtrong, phongdattruoc, phongdangsudung],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {

                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart'
                    }
                }

            },
        });
        var element6 = document.getElementById('form')
        var element7 = document.getElementById('ipSelect')
        var element8 = document.getElementById('ipDate')
        var element15 = document.getElementById('ipMonth')
        var element16 = document.getElementById('ipYears')
        const selectStatus = document.getElementById('selectStatus');
        const inputDate = document.getElementById('date')
        const inputMonth = document.getElementById('selectMonth')
        const inputYear = document.getElementById('selectYears')
        function submitForm() {
            if (selectStatus.value === "") {
                element7.remove();
            } else {
                element7.value = selectStatus.value
            }
            if (inputDate.value === "") {
                element8.remove();
            } else {
                element8.value = inputDate.value
            }
            if (inputMonth.value === "") {
                element15.remove();
            } else {
                element15.value = inputMonth.value
            }
            if (inputYear.value === "") {
                element16.remove();
            } else {
                element16.value = inputYear.value
            }



            if (inputDate.value !== "" || selectStatus.value !== "" || inputMonth.value !== "" || inputYear.value !== "") {
                element6.submit();
            }


        }

        inputDate.addEventListener('change', function () {
            submitForm();
        })
        selectStatus.addEventListener('change', function () {
            submitForm();
        });
        inputMonth.addEventListener('change', function () {
            submitForm();
        })
        inputYear.addEventListener('change', function () {
            submitForm();
        })
    </script>
    <style>
        .abc {
            margin-left: 45px;
            color: red;
            font-weight: 400;

        }
    </style>
</body>