<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/home"><i
                                class="fas fa-tachometer-alt"></i><span>Thống Kê</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/profile"><i
                                class="fas fa-user"></i><span>Người Dùng</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/table"><i class="fas fa-flag"></i><span>Báo
                                Cáo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/notifications"><i class="fas fa-bell"></i><span>Thông
                                Báo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-sign-out-alt"></i><span>Đăng
                                Xuất</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="d-sm-inline-block me-auto md-3 my-2 my-md-0 mw-100 navbar-search">
                            <h4 class="text-dark mb-0">Thông tin người dùng {{user.fullName}}</h4>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 fw-bold">Hồ sơ</p>
                                </div>

                                <div class="card-body">
                                    <div class="col text-center">
                                        <img class="rounded-circle mb-3 mt-2" src="{{user.avatar}}" width="180"
                                            height="180">
                                        <p class="text-black fw-bold h4">{{user.fullName}}</p>
                                    </div>

                                    <p><span class="text-black">Giới thiệu: </span>{{user.fullName}}</p>
                                    <hr>

                                    <div class="text-center">
                                        {{!-- {{#each user.images}}
                                        <img class="rounded m-2" src="{{this}}" width="130" height="130">
                                        {{/each}} --}}
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold col-md-6">Thông tin chi tiết</p>
                                        </div>

                                        <div class="card-body">
                                            <div class="col">
                                                <p><span class="text-black">Id: </span>{{user._id}}</p>
                                                <p><span class="text-black">Roles: </span>{{user.role}}</p>
                                                <p><span class="text-black">fullName: </span>{{user.fullName}}</p>
                                                <p><span class="text-black">Phone: </span>{{user.phone}}</p>
                                                <p><span class="text-black">email: </span>{{email}}</p>
                                                <p><span class="text-black">userName: </span>{{user.userName}}</p>
                                                <p><span class="text-black">DateOfBirth: </span>{{dateFormat user.DateOfBirth "dddd, MMMM Do YYYY"}}</p>
                                                <p><span class="text-black">address: </span>{{user.address}}</p>
                                                <p><span class="text-black">Ngày tạo: </span>{{dateFormat user.createdAt "dddd, MMMM Do YYYY"}}</p>
                                                <p><span class="text-black">Ngày cập nhật: </span>{{dateFormat user.updatedAt "dddd, MMMM Do YYYY"}}
                                                </p>

                                                <div style="display: flex; justify-items: center;">
                                                    <form action="/profileDetail/delete" method="post" id="form-block2"
                                                        class="text-end col-md-6">
                                                        <input type="hidden" name="_id" value="{{user._id}}">

                                                        <button class="btn btn-warning" type="button"
                                                            style="width: 97%;"
                                                            onclick="check2(`Xóa tài khoản {{user.email}} ?`)">
                                                            <span class="text-white">Xóa tài khoản</span>
                                                        </button>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Poly Hotel 2021</span></div>
                </div>
            </footer>
        </div> <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="/public/js/theme.js"></script>
</body>